- blazer_title @dashboard.name
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    = render layout: "layouts/bnb_blazer/navbar" do
      %li= link_to "Edit", edit_dashboard_path(@dashboard, variable_params(@dashboard))

%div{:style => "margin-bottom: 70px;"}
%h3.text-center=@dashboard.name
- if @data_sources.any? { |ds| ds.cache_mode != "off" }
  %p.text-muted{:style => "float: right;"}
    Some queries may be cached
    \#{link_to "Refresh", refresh_dashboard_path(@dashboard, variable_params(@dashboard)), method: :post}
- if @bind_vars.any?
  = render partial: "bnb_blazer/variables", locals: {action: dashboard_path(@dashboard)}
- else
  %div{:style => "padding-bottom: 15px;"}
- @queries.each_with_index do |query, i|
  .chart-container
    %h4= link_to query.friendly_name, query_path(query, variable_params(query)), target: "_blank"
    .chart{:id => "chart-#{i}"}
      %p.text-muted Loading...
  :javascript
    #{blazer_js_var "data", {statement: @statements[i], query_id: query.id, data_source: query.data_source, only_chart: true, cohort_period: params[:cohort_period]}}

    runQuery(data, function (data) {
      $("#chart-#{i}").html(data)
      $("#chart-#{i} table").stupidtable(stupidtableCustomSettings)
    }, function (message) {
      $("#chart-#{i}").addClass("query-error").html(message)
    });
