- blazer_title @dashboard.name
.topbar
  .container
    .row{:style => "padding-top: 13px;"}
      .col-sm-9
        = render partial: "blazer/nav"
        %h3{:style => "line-height: 34px; display: inline; margin-left: 5px;"}
          = @dashboard.name
      .col-sm-3.text-right
        = link_to "Edit", edit_dashboard_path(@dashboard, variable_params(@dashboard)), class: "btn btn-info"
%div{:style => "margin-bottom: 70px;"}
- if @data_sources.any? { |ds| ds.cache_mode != "off" }
  %p.text-muted{:style => "float: right;"}
    Some queries may be cached
    \#{link_to "Refresh", refresh_dashboard_path(@dashboard, variable_params(@dashboard)), method: :post}
- if @bind_vars.any?
  = render partial: "blazer/variables", locals: {action: dashboard_path(@dashboard)}
- else
  %div{:style => "padding-bottom: 15px;"}
- @queries.each_with_index do |query, i|
  .chart-container
    %h4= link_to query.friendly_name, query_path(query, variable_params(query)), target: "_blank"
    .chart{:id => "chart-#{i}"}
      %p.text-muted Loading...
  :javascript
    #{blazer_js_var "data", {statement: @statements[i], query_id: query.id, data_source: query.data_source, only_chart: true, cohort_period: params[:cohort_period]}}

    runQuery(data, function (data) {
      $("#chart-#{i}").html(data)
      $("#chart-#{i} table").stupidtable(stupidtableCustomSettings)
    }, function (message) {
      $("#chart-#{i}").addClass("query-error").html(message)
    });
