.navbar-header
  %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = image_tag "bnb_intel_logo.png", class: "img-responsive"
#navbar-collapse.collapse.navbar-collapse
  %ul.nav.navbar-nav
    .btn-group
      = link_to "Home", root_path, class: "btn btn-default", data: { type: "button" }
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li= link_to "Checks", checks_path
        - if Blazer.uploads?
          %li= link_to "Uploads", uploads_path
        %li.divider{role: "separator"}
        %li= link_to "New Query", new_query_path
        %li= link_to "New Dashboard", new_dashboard_path
        - check_params = @query ? {query_id: @query.id} : {}
        %li= link_to "New Check", new_check_path(check_params)
  %ul.nav.navbar-nav.navbar-right
    = yield